*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}
body{
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
}



.main{
    display: flex;
    
    
    
    
}
.main-left{
    width: 17%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    border-right: 1px solid rgb(234, 212, 212);
    
    
    
}

.main-left::-webkit-scrollbar{
    width: 7px;
}
.main-left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f2f2f2;

}
.main-left:hover::-webkit-scrollbar-thumb{
    background: #858383;
}
.img{
    display: flex;
    height: 50px;
    margin: 5px 10px;
    cursor: pointer;

}
.img:hover{
    background: #f6eded;
    border-radius: 7px;
}
.home{
    font-weight: bold;
}
.img p{
    padding: 14px 0;
    font-size: 15px;
    color: #252525;
    margin-left: 10px;

}

.img i{
    
    margin: 12px 12px;
    font-size: 22px;
    

}
.insta {
    margin-top: 30px;
}
.insta img{
    width: 110px;
    height: 32px;
    margin-left: 22px;
}
.icons{
    margin-top: 30px;
}

.img img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px 5px;
}
.threads{
    margin-top: 70px;
}


/* right bar */
.main-right{
    width: 29%;
    padding: 12px 0;
    overflow: hidden;
    font-weight: 600;
    
}

.profile-photo{
    display: flex;
    height: 50px;
    margin: 10px 10px;
    cursor: pointer;

}

.profile-photo p{
    font-size: 14px;
    font-weight: 600;
    color: #252525;
    margin-left: 10px;
    margin-top: 10px;

}
.profile-photo .down{
    font-size: 13px;
    color: #727070;
    margin: 29px -75px;
    font-weight: normal;
}

.profile-photo a{
    text-decoration: none;
    padding: 12px 215px;
    font-size: 12px;
    color: rgb(5, 135, 117);
    
    
}
.suggestion{
    display: flex;
    margin: 20px 15px;
    justify-content: space-between;
    
}
.suggestion a{
    text-decoration: none;
    color:black;
    margin-right: 85px;
    font-size: 13px;
    
    
}
.suggestion p{
    font-size: 14px;
    color: #757272;
}

.details{
   
    cursor: pointer;
    
}
.details .follow{
   
    margin-top: -30px;
    
}
.details .refer{
    font-size: 13px;
    color: #807474;
    font-weight: normal;
    
    
    
}



.main-center{
    width: 54%;
    margin-left: 17%;
   
    padding: 20px 20px 0px 20px;
}
.set-post{
    padding: 0 25px 0 130px;
    

}
.set-profile img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.set-profile p{
    font-size: 13px;
    
}
.set-details{
    display: flex;
    cursor: pointer;
    padding: 30px 0 0 70px;
   

}
.set-details img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.set-details p{
    font-size: 14px;
    font-weight: 600;
    color: #252525;
    margin-left: 10px;
    margin-top: 10px;

}
.set-details .time{
    color: #727070;

}
.menu img{
    margin-left: 220px;
    
}
.set-details .about{
    font-size: 12px;
    margin: 30px -425px;
    font-weight: normal;
}
.video-post{
    padding: 0 60px;
    
}
.video-post video{
    width: 490px;
}

.comments img{
    height: 20px;
    width: 20px;
}
.comments i{
    font-size: 22px;
    margin-right: 15px;
}
.comments .fa-bookmark{
   float: right;
}
.video-post .lines{

    line-height: 2em;
}
.lines .fa-face-grin-wide{
    float: right;
    margin-left: 10px;
}
